.messageBox {
  /* width: 1vmax; */
  padding: 1vmax;
  margin: 1vmax;
  border-radius: 10px;
  display: inline-block;
  font-size: 1.2vmax;
  clear: both;
}

.right {
  text-align: right;
  background-color: rgb(255, 77, 12);
  float: right;
  color: #ffff;
}

.left {
  text-align: left;
  float: left;
  background-color: chartreuse;
}
